body{ 
    background-color: #B5D5C5;
}
h1{
    color:#579BB1
}
h2{
    color:#144272
}
h3{
    color:#579BB1
}
hr{
    border-style: none;
    border-top-style:dotted ;
    border-color: grey;
    border-width:5px;
    width:5%;
}